* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;/*tira a linha do A*/
    list-style: none; /*tira as bolinha do li*/
    font-family: 'Open Sans';
}

:root {

    --azul-claro: #1F3F7C;
    --branco: #ffffff;

}
body{
background-image: linear-gradient(35deg, rgb(250, 250, 250), rgb(217, 240, 244),rgb(73, 237, 111));
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.299);
}
.header-tamanho{
    width: 98%;
    display: flex;
    align-items: center;
    margin: 3px 0px;
}
.header-logo{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header-logo-img{
    width: 100%;
    display: flex;

    /* border: 1px solid red; */
}
.header-logo-img img{
    width: 80px;
    height: 80px;
}

.create{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.create-tamanho{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;

    /* border: 1px solid red; */
}
.create-form{
    width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 20px;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.226);
}
.create-form label{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
.create-2label{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-2label label input{
    width: 150px;
    height: 30px;
}
.create-2label label select{
    width: 150px;
    height: 30px;
}
.create-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px 0px;
}

.create-button input{
    width: 150px;
    padding: 10px;
    margin: 5px;
    background-color: green;
    color: var(--branco);
    border: none;
    border-radius: 5px;

    transition: 1.0s;
}
.create-button a{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: rgb(194, 219, 194);
    color: black;
    border: none;
    border-radius: 5px;

    transition: 1.0s;
}
.create-button a:hover{

    transform: scale(0.95);
}
.create-button input:hover{

    transform: scale(0.95);
}

