@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;/*tira a linha do A*/
    list-style: none; /*tira as bolinha do li*/
    font-family: 'Poppins', sans-serif;
}


:root {

    --azul-claro: #1F3F7C;
    --branco: #ffffff;

}
/* body{
background-image: linear-gradient(35deg, rgb(116, 29, 29), rgb(22, 135, 155),rgb(21, 82, 197));
} */

.create{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-tamanho{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px;
}

.create-form{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    /* background-color: rgba(0, 0, 0, 0.226); */
}

input{
    border: none;
    outline: none;
    background: #EBEBEB;
    padding: 12px 24px;
    border-radius: 5px;
}

.create-form label{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.create-2label{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-2label label input{
    width: 300px;
    height: 30px;
    padding: 12px 24px;

}

.create-2label label select{
    border: none;
    outline: none;
    width: 150px;
    height: 30px;

}
.create-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.create-button input{
    width: 150px;
    padding: 10px;
    margin: 5px;
    background-color: #6362BB;
    color: var(--branco);
    border: none;
    border-radius: 5px;

    /* transition: 1.0s; */
}

.create-button input:hover {
    background: #3F3E89;
}

.create-button a{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #868686;
    color: var(--branco);
    border: none;
    border-radius: 5px;
}


.create-button a:hover{
    background: #DC5757;
    color: var(--branco);
}

/* .create-button a:hover{

    transform: scale(0.95);
}
.create-button input:hover{

    transform: scale(0.95);
} */

